

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.open-sans-normal{
    font-family: "Open sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size:20px;
    border: none;
    padding: 18px 35px ;

}

.nav-title{
    font-weight: 800;
    font-size: 45px;

}
.dark-2{
    color: #474747;
}
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/*header*/
.header{
    background-image: url('images/developer.png') , url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* BANNER STYLE*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-container{
    max-width:580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size:85px ;

}
.banner-picture{
    width: 580px;
}